/* Colores */
$color-fondo-oscuro: #242424;
$color-header-oscuro: #333;
$color-texto-claro: #E6E7EB;
$color-texto-oscuro: #242424;
$color-borde-gris: #444;
$color-borde-claro: #D5D7D3;

/* Tipografía */
$fuente-satoshi: satoshi variable, sans-serif;